<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService2019Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65509/DMPinterface.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService2019Soap"
                contract="ServiceReferenceDMP.WebService2019Soap" name="WebService2019Soap" />
        </client>
    </system.serviceModel>
    <appSettings>
      <!--ORACLE 数据库连接-->
      <add key="ConnectString" value="Data Source=JDADV;user=wcs_v1;password=wcs_v1"/>
      <!-- xml文件夹目录 -->
      <add key="XmlPath"  value="D:/InterFaceFile/"/>
      <!-- 日志目录 -->
      <add key="LogPath"  value="D:/LogFile/"/>
    </appSettings>
</configuration>